<div class="p1">
    <div>
        <button class="btn btn-primary" (click)="getMyLocationWeather()">Get Your location weather</button>
    </div>
    <div class="m-5 d-flex justify-content-lg-center justify-content-md-center justify-content-sm-center row">
        <div class="col-lg-3 col-sm">
            <p> change location</p>

            <select #city name="city" (change)='getWeatherData(city.value)' class="form-select bg-dark"
                style='height: 30px;width: 150px;'>
                <option *ngFor='let city of cities' value="{{city}}">{{city}}</option>
            </select>
            <br><br>
        </div>
        <div *ngIf='cityStatus; else elseBlock' class="col-10 col-lg-4 font-weight-bold">
            <h3> {{cityName}} </h3>
            <img [src]="weatherIcon" alt="img">
            <p>{{weatherDescription}}</p>
            <p>{{temperature}} &deg;{{scale}}</p>
            <p>{{windSpeed}} m/s</p>
            <p> {{pressure}} hpa</p>
        </div>

        <ng-template #elseBlock class="flex-column col-lg-4 col-sm-12 font-weight-bold">
            <div class="">
                <h3>{{statusCode}}</h3>
                <h2>{{errorMsg}}</h2>
            </div>
        </ng-template>

    </div>

    <hr class="bg-light">

    <h3 class="display-6 ml-5">Weather Forcasting</h3>
    <br>

    <div class="row justify-content-md-center bg-blue mx-1">
        <div *ngIf="!cityStatus; else errorBlock">
            <h3>{{statusCode}}</h3>
            <h2>{{errorMsg}}</h2>
        </div>
        <ng-template #errorBlock>
            <div class="wrapper">
                <div *ngFor="let data of predicts" class="item card bg-blue" style="min-width: 11rem;">
                    <div class="card-body">
                        <h5>{{data.day}}</h5>
                        <img [src]="data.icon" alt="img">
                        <p>{{data.description}}</p>
                        <p>{{data.temperature}} &deg;{{scale}}</p>
                        <p>{{data.wind_speed}} m/s</p>
                        <p>{{data.pressure}} hpa</p>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
<button id="mod12" class="d-none btn btn-primary" (click)="open(content)">open modal</button>
<ng-template id='c123' #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{errorMsg}}</h4>
        <button type="button" class1="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Unable to connect to the Internet&hellip;</p>
        <span>Data is not loaded becauseyour computer not connected to internet</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>