.p1{
    padding:1%;
    padding-bottom: 10%;
}
.margin{
    padding: 3%;
}
*{
    color: aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.bg-blue{
    background-color: rgb(49, 126, 228);
}
.card{
    margin: 2px 4rem;
}